.header-menu .ant-menu-item,
.header-menu .ant-menu-submenu-title {
  padding-inline: 16px !important;
  padding-block: 0 !important;
  height: 40px !important;
  line-height: 40px !important;
  font-weight: 500;
}

.ant-menu-horizontal {
  border: 0;
}

.app-header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
