.table-root {
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 4px 12px rgba(0, 0, 0, 0.06); */
}

.table-pagination-root {
  border-radius: 2px;
  margin: 10px !important;
  background-color: #f8f8f8;
}

.table-pagination-item {
}

.table-footer {
  height: 10px;
}
